// Switches
NET "SW[0]" LOC = "C3";	// button 1 pull up
NET "SW[1]" LOC = "D3";	// button 2 pull up
NET "SW[2]" LOC = "E4";	// button 3 pull up
NET "SW[3]" LOC = "E3";	// button 4 pull up
NET "BTNL"  LOC = "L3";	// reset


// LEDS
NET "LED[0]" LOC = "P4";		// led 0
NET "LED[1]" LOC = "N5";		// led 1
NET "LED[2]" LOC = "P5";		// led 2
#NET "LED[3]" LOC = "M6";		// led 3
